@import "bulma";
@import "timefeels";

html {
  background-color: whitesmoke;
}

.center {
  text-align: center;
}

.emoji {
  font-size: 3em;
}

img {
  display: block;
  margin: auto;
  width: 40%;
}
