@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700);

@import "bulma";
@import "chart";

.center {
  text-align: center;
}

.tweet {
  font-size: 2.5em;
}

.emoji {
  font-size: 6em;
}

img {
  display: block;
  margin: auto;
  width: 40%;
}

svg {
  font: 14px 'Open Sans';
}