<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BitFeels</title>
    <link rel="stylesheet" href="/css/app.css">
  </head>
  <body>
    <section class="section">
      <div class="container">
        <h2 class="center">Internal Feel Error</h2>
        <img src="/images/feels.jpg" height="400" width="600">
      </div>
    </section>
  </body>
</html>
